<div class="row  mt-5">


  <form (ngSubmit)="onSearch( formulario )"
        #formulario ="ngForm"
        >

    <div class="col">

      <div class="row">
        <input type="text" class="form-control" placeholder="Palabra clave" name="keywords" [(ngModel)]="infosearch.keywords" #keywords="ngModel"  >
      </div>

      <div class="row mt-3">

        <label class="row-form-label">Idioma</label>

        <select class="custom-select" name="language" [(ngModel)]="infosearch.language" #language="ngModel">
          <option selected></option>
          <option value="English">Ingles</option>
          <option value="Spanish">Español</option>
        </select>

      </div>

      <div class="row mt-3">

        <label class="row-form-label">Género</label>

        <select class="custom-select" name="genre" [(ngModel)]="infosearch.genre" #genre="ngModel">
          <option selected></option>
          <option value="Action">Acción</option>
          <option value="Family">Familiar</option>
          <option value="Drama">Drama</option>
        </select>

      </div>

      <div class="row mt-3">

        <label class="row-form-label">Canal</label>

        <select class="custom-select" name="channel" [(ngModel)]="infosearch.channel" #channel="ngModel">
          <option selected></option>
          <option value="Action">Amazon Prime</option>
          <option value="Family">Apple Music</option>
          <option value="Netflix">Netflix</option>          
        </select>

      </div>


      <div class="row mt-3">

        <label class="row-form-label">Ordernar por</label>

        <select class="custom-select" name="order" [(ngModel)]="infosearch.order" #order="ngModel">
          <option selected></option>
          <option value="rating">Rating</option>
          <option value="channel">Canal</option>
          <option value="genre">Género</option>
        </select>
      </div>


      <div class="row mt-3">
        <button type="submit" class="btn btn-outline-primary btn-block">Buscar</button>
      </div>

    </div>

  </form>


    <div class="col">

      <div class="card-columns">
        <div class="card" *ngFor="let catalog of catalogs">
          <img [src]="catalog.show.image | noimage " class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ catalog.show.name }}</h5>
            <p class="card-text">{{ catalog.show.summary }}</p>

            <p class="card-text"><small class="text-muted">Rating <span class="badge badge-pill badge-success">{{ catalog.show.rating.average===null? 0: catalog.show.rating.average }}</span> </small></p>
            <button type="button" class="btn btn-outline-primary" (click)="viewShow( catalog.show.id )">Ver mas</button>
          </div>
        </div>
      </div>

    </div>

  </div>
