<div class="card mb-12" >
  <div class="row no-gutters">
    <div class="col-md-6">
      <img [src]="catalog.image | noimage: 'card'" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{ catalog.name }}</h5>
        <p class="card-text">{{ catalog.summary }}</p>


        <p class="text-right">         
          <button type="submit" class="btn btn-danger" (click)="return()">
            <i class="fas fa-undo-alt"></i> Regresar
          </button>

        </p>

      </div>
    </div>
  </div>
</div>
